@import "bootstrap/scss/functions";
@import "_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "_resetcss.scss";
@import "./Login.scss";
@import "./front/navbar.scss";
@import "./front/frontLayout.scss";
@import "./front/home.scss";
@import "./front/about.scss";
@import "./front/blog.scss";
@import "./front/products.scss";
@import "./front/productsDetail.scss";
@import "./front/checkout.scss";



html {
  font-size: 16px; /* 基準字體大小 */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}


// message動畫
.slide-in{
  animation: slideInRight 0.8s ease forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(120%); /* 從右邊外面開始 */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* 回到原位 */
    opacity: 1;
  }
}