.login{
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    .login-w{
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width:1024px){
    .login{
        .login-w{
            width: 90%;
        }
    }
}