.store{
    width: 96%;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 150px;
    .store-title{
        padding-bottom: 20px;
        .store-title-1{
            font-size: 3rem;
            padding-bottom: 50px;
        }
    }
    .map{
        text-align: end;
        .googlemap{
            width: 80%;
            height: 450px;
        }
    }
    .col{
        font-size: 1.2rem;
        padding-left: 50px;
    }
}

@media (max-width:1024px){
    .store{
        padding-bottom: 100px;
        .store-title{
            padding-bottom: 50px;
            .store-title-1{
                font-size: 2rem;
                padding-bottom: 20px;
            }
        }
        .col{
            font-size: 1rem;
            padding-left: 10px;
        }
    }
}

@media (max-width:440px){
    .store{
        padding-top: 100px;
        padding-bottom: 30px;
        .store-title{
            padding-bottom: 10px;
            .store-title-1{
                font-size: 2rem;
                padding-bottom: 20px;
            }
        }
        .row{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            width: 90%;
            margin: 0 auto;
            .map .googlemap{
                    width: 100%;
                    padding-top: 50px;
                }
            .col{
                padding-left: 0px;
            }
        }
    }
}